@import "variables";

.grid {
  display: grid;
  height: 100%;
  gap: 16px;
}

.grid-row {
  // Mobile view
  grid-template-rows: 1fr 10px 1fr;
  grid-template-columns: 1fr;
}

.grid-column {
  // Desktop view
  grid-template-columns: 1fr 10px 1fr;
  grid-template-rows: 1fr;
}

.gutter {
  border-radius: 8px;
  background-color: $secondary-color;
  background-position: 50%;
  background-repeat: no-repeat;
}

.gutter-direction {
  // Default mobile view
  grid-column: 1/-1;
  grid-row: 2;
  cursor: row-resize;
  height: 14px;
  width: 100%;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
}
