@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

// Colors
$primary-color: #f5f5f5;
$secondary-color: #282a34;
$background-color: #3c3f51;

// Font
$primary-font: "Fira Code", monospace;
$secondary-font: "Noto Serif", serif;
