@use "base";
@use "split-grid";
@import "mediaquery";
@import "variables";
@import "mixins";

.main-container {
  padding: 24px;
  height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

textarea {
  outline: none;
  border: none;
  resize: none;
  height: 100%;
  background-color: transparent;


  font-size: 16px;
  line-height: 27px;
  font-family: $primary-font;
  color: $primary-color;
}
