@use "base";
@use "split-grid";
@use "mediaquery";
@import "variables";
@import "mixins";

.main-container {
  padding: 24px;
  height: 100svh
}

section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
}
