@import "variables";
@import "mixins";

.header {
  @include flex($justify: flex-start);
  height: 64px;
  padding: 16px;
  border-radius: 8px;
  background-color: $primary-color;

  p {
    font-size: 24px;
    font-weight: 700;
    color: $background-color;
    margin-right: auto;
    user-select: none;
  }
}
